.left {
  float: left;
}

.right {
  float: right;
}

.navbar {
  padding: 10px;
  height: 50px;
  background-color: aqua;
  font-size: 40px;
  color: red;
}

.body {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}